{
  "extends": ["standard", "standard-react"],
  // TODO: migrate jQuery to npm managed dependencies and use standard imports
  "globals": {
    "$": true
  },
  "rules": {
    "brace-style": [2, "stroustrup"],
    "comma-dangle": [2, "always-multiline"],
    "react/jsx-space-before-closing": [2, "never"],
    "react/prop-types": 0, // TODO: provide prop types for all react components and remove this override
  }
}
