<!-- The viewer: -->
<div ng-show="!editing" ng-bind-html="concept.html"></div>

<!-- The editor: -->
<div ng-show="editing">

  <div class="alert alert-warning">
    <span class="pficon pficon-warning-triangle-o"></span>
    <strong>Warning!</strong>
    Changes made with this editor aren't saved in any place, it is just
    a test of the mechanism that will be added in the future. In order
    to do real edits you will have to checkout the source code from
    <a href='https://gerrit.ovirt.org'>gerrit</a> and submit a patch.
  </div>

  <textarea ng-model="concept.doc" class='form-control' rows='10'></textarea>

</div>

<!-- Buttons: -->
<div class="btn-group btn-group-xs">
  <button ng-click="view()" type="button" class="btn btn-default">View</button>
  <button ng-click="edit()" type="button" class="btn btn-default">Edit</button>
</div>
