<h2>{{type.name}} <small>struct</small></h2>

<div>
  <ov-doc concept="type"/>
</div>

<h3>Attribute summary ({{attributes.length}})</h3>

<table class="datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th width="20%">Name</th>
      <th width="20%">Type</th>
      <th width="80%">Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="attribute in attributes | orderBy:'id'">
      <td>{{attribute.name}}</td>
      <td><ov-link concept="attribute.type"/></td>
      <td><ov-summary concept="attribute"/></td>
    </tr>
  </tbody>
</table>

<h3>Links summary ({{links.length}})</h3>

<table class="datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th width="20%">Name</th>
      <th width="20%">Type</th>
      <th width="80%">Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="link in links | orderBy:'id'">
      <td>{{link.name}}</td>
      <td><ov-link concept="link.type"/></td>
      <td><ov-summary concept="link"/></td>
    </tr>
  </tbody>
</table>
